{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="{% static 'img/logo.svg' %}">
      <title>Grofarweb - Online Grocery Supermarket HTML Template</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick-theme.min.css' %}">
      <!-- Icofont Icon-->
      <link href="{% static 'vendor/icons/icofont.min.css' %}" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <!-- Sidebar CSS -->
      <link href="{% static 'vendor/sidebar/demo.css' %}" rel="stylesheet">
   </head>
   {% block content %}

   
    {% endblock %}

      <script src="{% static 'vendor/jquery/jquery.min.js' %}" type="2479717871b66d9bca194fe4-text/javascript"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="2479717871b66d9bca194fe4-text/javascript"></script>
      <!-- slick Slider JS-->
      <script type="2479717871b66d9bca194fe4-text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>
      <!-- Sidebar JS-->
      <script type="2479717871b66d9bca194fe4-text/javascript" src="{% static 'vendor/sidebar/hc-offcanvas-nav.js' %}"></script>
      <!-- Custom scripts for all pages-->
      <script src="{% static 'js/osahan.js' %}" type="2479717871b66d9bca194fe4-text/javascript"></script>
   <script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="2479717871b66d9bca194fe4-|49" defer></script></body>
</html>